
/* ----- FOR MAIN LAYOUT SECTIONS ----- */

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;

}

/* ----- INTRO PAGE ----- */

#intro-page {
    width: 100%;
    display: inline-block;
    text-align: center;

}

#logo-holder {
    width: 50%;
    transform: translate(50%, 50%);
    text-align: center;
    position: relative;

}

#intro-logo:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: -40px;
    left: -40px;
    right: -40px;
    bottom: -40px;
    border: 15px solid rgb(255, 230, 150);
    border-radius: 75px;
    box-shadow: 5px 5px 3px grey;
    animation: intro-flash-outer 5s infinite alternate ease-in-out;

  }

#intro-logo {

    height: 200px;
    position: relative;
    font-family: 'Martel Sans', sans-serif;
    font-size: 75px;
    font-weight: bolder;
    vertical-align: middle;
    background-color: rgb(220, 220, 220);
    color: black;
    border-radius: 50px;
    animation: intro-flash 5s infinite alternate ease-in-out;

}

#intro-footer {
    width: 100%;
    position: absolute;
    transform: translate(0%, 300%);
    padding-top: 15px;
    display: block;

    /* border: 1px solid grey; */

}

#intro-page #btn-info {
    float: left;
    margin-left: 100px;

}

#intro-page #btn-new-game {
    float: right;
    margin-right: 100px;

}

@keyframes intro-flash {
    0%   {background-color: rgb(220, 220, 220); color: black;}
    33%  {background-color: rgb(255, 230, 150); color: rgb(65, 65, 65);} 
    66%  {background-color: rgb(246, 178, 107); color: rgb(150, 150, 150)} 
    100% {background-color: rgb(200, 90, 90); color: white;} 
}

@keyframes intro-flash-outer {
    0%   {border-color: rgb(255, 230, 150);}
    33%  {border-color: rgb(220, 220, 220);} 
    66%  {border-color: rgb(255, 230, 150);}
    100% {border-color: rgb(220, 220, 220);} 
}

/* ----- GAME PAGE ----- */

#game-page {
    display: none;

}

#game-page #btn-info {
    float: left;
    margin-left: 0px;
}

#game-page #btn-new-game {
    float: right;
    margin-right: 0px;
}

#section-top {
    width: 100%;
    max-width: 750px;
    max-height: 80px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: left;

}


#section-middle {
    width: 100%;
    max-width: 750px;
    max-height: 250px;
    display: inline-block;

}

#section-bottom {
    width: 100%;
    max-width: 750px;
    max-height: 150px;
    display: inline-block;

}

/* ----- SECTION TOP ----- */


#game-header {
    width: 60%;
    float: left;
    font-family: 'Martel Sans', sans-serif;
    padding-left: 15px;
    margin-bottom: 0px;
    font-size: 50px;

}


#timer-display {
    width: 40%;
    min-height: 20px;
    float: right;
    margin-top: 20px;
    padding-right: 15px;
    text-align: right;
    font-size: 12px;

}

#progress-display {
    width: 40%;
    float: right;
    padding-right: 15px;
    text-align: right;
    font-size: 12px;

}


/* ----- SECTION MIDDLE ----- */

#puzzle-div {
    width: 60%;
    max-width: 500px;
    min-height: 250px;
    float: left;
    vertical-align: middle;
    padding: 50px 65px 0px 50px;

}


#wheel-div {
    width: 40%;
    min-width: 225px;
    min-height: 225px;
    float: right;
    vertical-align: top;
    padding-right: 0; /* amend Bootstrap */
    padding-left: 0; /* amend Bootstrap */
    margin: 10px 0px 10px 0px; /* amend Bootstrap */

}


#wheel-img {
    padding-top: 150px;

}


#wheel-img p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    color: rgb(200, 90, 90);

}

/* ----- SECTION BOTTOM ----- */

#score-div:before {
    width: 60%;
    max-height: 25px;
    content: open-quote;
    font-family: 'Roboto Slab', serif;
    margin-left: 0px;
    padding-left: 20px;
    font-size: 35px;
    text-align: left;
    display: block;
    
}

#score-div {
    width: 60%;
    max-width: 500px;
    max-height: 150px;
    padding-right: 55px;
    height: 125px;
    float: left;
    vertical-align: top;
    text-align: center;
    color: black;

}

#score-div:after {
    content: close-quote;
    font-family: 'Roboto Slab', serif;
    margin-right: 0px;
    font-size: 35px;
    text-align: right;
    display: block;

}

#input-div {
    width: 40%;
    min-width: 250px;
    min-height: 50px;
    float: right;
    padding-top: 25px;
    text-align: center;

}

#buttons-div {
    width: 40%;
    min-width: 250px;
    min-height: 100px;
    float: right;
    padding-top: 15px;
    text-align: center;

}

/* ----- FOR PUZZLE BOARD ----- */

/* KIV */
.word-span {
    white-space: nowrap;
    
}

.square-box {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    background: white;
    margin-bottom: 10px;
}

.square-text {
    background-color: white;
    color: white;
    white-space: nowrap;

}

.square-display {
    background-color: white;
    color: black;

}

.square-light {
    background-color: white;
    color: black;
    animation-name: light-flash;
    animation-duration: 3s;
}

.square-blank {
    width: 15px;
    height: 25px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
    background-color: white;
    color: white;
    border: 0px;
}

@keyframes light-flash {
    0%   {background-color: yellow; color: white;}
    50%  {background-color: yellow; color: black;} 
    100% {background-color: white; color: black;}
}

/* ----- FOR MODAL DISPLAY ----- */

.modal-cover {
    background: black;
    opacity: 0.3;
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0; 
    top: 0;
    display: none; 
    z-index: 0;
}


.modal-popup {
    width: 100%;
    position: fixed;
    left: 0;
    top: 30px;
    display: none; /* modify to block */
    z-index: 5;
}

.modal-popup .content {
    background: white;
    width: 100%;
    height: 500px;
    max-width: 500px;
    padding: 30px;
    margin: 0 auto;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    overflow-y: auto;
}


/* ----- FOR WHEEL ----- */

text {
    font-size: 11px;
    pointer-events:none;
}

/* Actual Wheel */
#chart {
    width: 225px;
    height: 225px;
    padding: 0;
    margin: 0;
    float: top;
    display: none;  /* only turn on when game starts */
}

/* Wheel Image only */
#wheel-img {
    width:300px;
    height:300px;
    padding: 0;
    margin: 0;
    float: top;
    display: inline;

}
