
/* ----- FOR MAIN LAYOUT SECTIONS ----- */

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;

}

#intro-page {
    width: 100%;
    /* max-width: 750px; */

    /* margin: 50px 50px 50px 50px; */
    
    display: inline-block;
    text-align: center;
    

}

#logo-holder {
    width: 50%;
    transform: translate(50%, 50%);
    text-align: center;
    position: relative;

}

#intro-logo:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: -40px;
    left: -40px;
    right: -40px;
    bottom: -40px;
    border: 15px solid rgb(255, 230, 150);
    border-radius: 75px;
    box-shadow: 5px 5px 3px grey;
    /* animation-name: intro-flash-outer;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite; */
    animation: intro-flash-outer 5s infinite alternate ease-in-out;


  }

#intro-logo {
    /* width: 50%; */

    /* width: 450px; */
    height: 200px;
    /* margin-top: 25px;
    margin-bottom: 25px; */
    position: relative;
    /* transform: translate(50%, 50%); */
    font-family: 'Martel Sans', sans-serif;
    /* text-shadow: 2px 2px 1px white; */
    font-size: 75px;
    font-weight: bolder;
    vertical-align: middle;
    /* border: 5px solid orange; */
    background-color: rgb(220, 220, 220);
    color: black;
    border-radius: 50px;
    /* animation-name: intro-flash; */
    animation: intro-flash 5s infinite alternate ease-in-out;
    /* animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    transition: color 5s; */

    /* border: 1px solid grey; */
}


/* To improve animation transitions */

/* @keyframes intro-flash {
    0%   {background-color: rgb(220, 220, 220); color: black;}
    50%  {background-color: rgb(255, 230, 150); color: black;} 
    100% {background-color: rgb(200, 90, 90); color: white;}
}

@keyframes intro-flash-outer {
    0%   {border-color: rgb(255, 230, 150);}
    50%  {border-color: rgb(220, 220, 220);} 
    100% {border-color: rgb(220, 220, 220);}
} */


@keyframes intro-flash {
    0%   {background-color: rgb(220, 220, 220); color: black;}
    33%  {background-color: rgb(255, 230, 150); color: rgb(65, 65, 65);} 
    66%  {background-color: rgb(246, 178, 107); color: rgb(150, 150, 150)} 
    100% {background-color: rgb(200, 90, 90); color: white;} 
}

@keyframes intro-flash-outer {
    0%   {border-color: rgb(255, 230, 150);}
    33%  {border-color: rgb(220, 220, 220);} 
    66%  {border-color: rgb(255, 230, 150);}
    100% {border-color: rgb(220, 220, 220);} 
}




#intro-footer {
    width: 100%;
    position: absolute;
    transform: translate(0%, 300%);
    padding-top: 15px;
    display: block;

    /* border: 1px solid grey; */

}


#intro-page #btn-info {
    float: left;
    margin-left: 100px;

}

#intro-page #btn-new-game {
    float: right;
    margin-right: 100px;

}

#game-page #btn-info {
    float: left;
    margin-left: 0px;

}

#game-page #btn-new-game {
    float: right;
    margin-right: 0px;

}


#game-page {
    display: none;

    /* width: 100%;
    max-width: 900px;
    max-height: 450px;
    border: 1px solid grey; */

}

#section-top {
    width: 100%;
    max-width: 750px;
    max-height: 80px;
    /* padding: 0; */
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 5px;
    /* padding: 25px 50px 50px 15px; */
    text-align: left;
/* 
    border: 1px solid blue; */
}


#section-middle {
    width: 100%;
    max-width: 750px;
    max-height: 250px;
    display: inline-block;
    /* padding-bottom: 10px; */

    /* border: 1px solid blue; */

}

#section-bottom {
    width: 100%;
    max-width: 750px;
    max-height: 150px;
    /* height: 50vh; */
    display: inline-block;

    /* border: 1px solid blue; */

}

/* ----- SECTION TOP ----- */

/* remove */
#section-top h1 {
    width: 60%;
    float: left;
    font-family: 'Martel Sans', sans-serif;
    /* border: 1px solid grey; */
    /* padding: 25px 50px 50px 15px; */
    padding-left: 15px;
}

#game-header {
    width: 60%;
    float: left;
    font-family: 'Martel Sans', sans-serif;
    padding-left: 15px;
    margin-bottom: 0px;
    font-size: 50px;
    /* border: 1px solid grey; */
}


#timer-display {
    width: 40%;
    min-height: 20px;
    float: right;
    margin-top: 20px;
    padding-right: 15px;
    text-align: right;
    font-size: 12px;

    /* border: 1px solid grey; */

}

#progress-display {
    width: 40%;
    float: right;
    /* margin-top: 15px; */
    padding-right: 15px;
    text-align: right;
    font-size: 12px;

    /* border: 1px solid grey; */

}


/* ----- SECTION MIDDLE ----- */

#puzzle-div {
    width: 60%;
    max-width: 500px;
    min-height: 250px;
    float: left;
    /* text-align: center; */

    vertical-align: middle;
    padding: 50px 60px 0px 50px;
    /* padding-top: 75px; */
    /* padding-right: 50px; */
    /* border: 1px solid grey; */



}


#wheel-div {
    width: 40%;
    min-width: 225px;
    min-height: 225px;
    float: right;
    vertical-align: top;
    padding-right: 0; /* amend Bootstrap */
    padding-left: 0; /* amend Bootstrap */
    /* margin-top: 10px; */
    margin: 10px 0px 10px 0px; /* amend Bootstrap */
    /* margin-right: 0; 
    margin-left: 0;  */
    /* border: 1px solid grey; */

}


#wheel-img {

    /* font-size: 35px;
    font-weight: bold; */
    padding-top: 150px;
    /* display: none; */

}


#wheel-img p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    color: rgb(200, 90, 90);

    /* Add animation later */
    /* animation: animate__shakeX;
    animation-duration: 2s; */

}

/* ----- SECTION BOTTOM ----- */


#score-div:before {
    width: 60%;
    max-height: 25px;
    content: open-quote;
    font-family: 'Roboto Slab', serif;
    margin-left: 0px;
    padding-left: 20px;
    /* padding-right: 20px; */
    font-size: 35px;
    text-align: left;
    display: block;

    /* border: 1px solid grey; */
    
}

#score-div {
    width: 60%;
    max-width: 500px;
    max-height: 150px;
    padding-right: 55px;
    /* width: 40%; */
    height: 125px;
    float: left;
    vertical-align: top;
    /* width: 350px; */
    /* border: 1px solid grey; */
    text-align: center;
    color: black;
    /* vertical-align: middle; */

    /* border: 1px solid grey; */

}

#score-div:after {
    content: close-quote;
    font-family: 'Roboto Slab', serif;
    margin-right: 0px;
    /* padding-left: 30px; */
    font-size: 35px;
    text-align: right;
    display: block;

    /* border: 1px solid grey; */
}

#input-div {
    width: 40%;
    min-width: 250px;
    min-height: 50px;
    float: right;
    padding-top: 25px;
    /* padding-top: 15px; */
    text-align: center;

    /* border: 1px solid grey; */

}

#buttons-div {
    width: 40%;
    min-width: 250px;
    min-height: 100px;
    float: right;
    padding-top: 15px;
    /* padding-top: 25px; */
    text-align: center;

    /* border: 1px solid grey; */

}

/* ----- FOR PUZZLE BOARD ----- */

.word-span {
    /* border: 1px solid blue; */
    white-space: nowrap;
    
}

.square-box {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    background: white;
    margin-bottom: 10px;
}

.square-text {
    background-color: white;
    color: white;
    /* display: none; */
    
    white-space: nowrap;

}

.square-display {
    background-color: white;
    color: black;
    /* display: none; */

}

.square-light {
    background-color: white;
    color: black;
    animation-name: light-flash;
    animation-duration: 3s;
}

.square-blank {
    width: 15px;
    height: 25px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
    /* background: #3D9970;
    color: #3D9970; */
    background-color: white;
    /* background-color: orange; */
    color: white;
    border: 0px;
}

@keyframes light-flash {
    0%   {background-color: yellow; color: white;}
    50%  {background-color: yellow; color: black;} 
    100% {background-color: white; color: black;}
}

/* ----- FOR MESSAGE BOARD DISPLAY ----- */


/* .msg-delay {
    color: black;
    animation-name: msg-delay;
    animation-duration: 3s;

}

@keyframes msg-delay {
    0%   {opacity: 0}
    100% {opacity: 1}
} */



/* ----- FOR MODAL DISPLAY (IF USING) ----- */

/* check if using */
.modal-cover {
    background: black;
    opacity: 0.3;
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0; 
    top: 0;
    display: none; 
    z-index: 0;
}


.modal-popup {
    width: 100%;
    position: fixed;
    left: 0;
    top: 100px;
    display: none; /* modify to block */
    z-index: 5;
}

.modal-popup .content {
    background: white;
    width: 100%;
    height: 500px;
    max-width: 500px;
    padding: 30px;
    margin: 0 auto;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;

    /* overflow: auto; */
    overflow-y: auto;
}


/* ----- FOR WHEEL ----- */

text {
    /* font-family:Helvetica, Arial, sans-serif; */
    font-size: 11px;
    pointer-events:none;
}

/* Actual Wheel */
#chart {
    /* position:absolute; */
    /* width:500px;
    height:500px; */
    width: 225px;
    height: 225px;
    padding: 0;
    margin: 0;
    float: top;
    /* top:0;
    left:0; */
    display: none;  /* only turn on when game starts */
}

/* Wheel Image only */
#wheel-img {
    width:300px;
    height:300px;
    padding: 0;
    margin: 0;
    float: top;
    display: inline;
}



/* @keyframes flying {
    0% {
      transform: rotate(0deg) scale(0);
    }
  
    100% {
      transform: rotate(3600deg) scale(1);
    }
  }
  
  .newspaper {
      /* animation: flying 3s linear 1 forwards; */
      /* animation: flying 3s ease-in-out 1 forwards; */
  
  /* } */

/* Media Queries - To check*/
  
/* @media screen and (max-width: 992px) {
    #intro-logo {
        font-size: 35px;
    }
  }
   */

/* @media screen and (max-width: 600px) {
    body {
      
    }
  } */